*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}
#loader{
    height: 100%;
    width: 100%;
    background-color: #181818ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    position: fixed;
    z-index: 19;
}
#loader h3{
    font-weight: 800;
    font-size: 1vw;
    
}
#main{
    width: 100%;
    height: 100%;
    background-color: #181818ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 9;
}
nav, footer{
    height: 8vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo, #about{
    height: 80%;
    width: 6%;
    margin: 1.5vw 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}
.logoHeader path{
    color: antiquewhite;
    fill: antiquewhite; 
}
h6{
    font-weight: 400;
    color: antiquewhite;
}
h6 span{
    display: inline;
    margin: 0.1vw;
}
.mid{
    position: fixed;
    height: 0%;
    width: 20%;
    transform: translate(200%, 0);
    display: flex;
    justify-content: center;
    color: antiquewhite;
}
.mid h1{
    font-size: 4.5vw;
    font-weight: 400;
    text-transform: uppercase;
}
#mid-nav{
    top: 0%;
    align-items: end;
}
#mid-foot{
    bottom: 0%;
    align-items: start;
}
#right{
    height: 80%;
    width: 10%;
    margin: 1.5vw 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#left{
    height: 80%;
    width: 10%;
    margin: 1.5vw 3.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#left h6{
    text-transform: capitalize;
}
.reveal  .parent{
    display: flex;
    justify-content: center;
    overflow-y: hidden; 
    width: 100%;

}
.reveal .parent .child{
    transform: translateY(100%);
}

footer{
    height: 8vw;
    width: 100%;
}


#section{
    height: 19vw;
    width: 42vw;
    display: flex;
}
.imagery{
    height: 100%;
    width: 12.25%;
    margin: 0.2vw;
    filter: saturate(0.1) brightness(0.5) opacity(1);
    transition: all 0.3s cubic-bezier(0.34, 0.73, 0.25, 0.97);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.imagery img{
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease-out;
}
.imagery img:nth-child(1){
    left: 0;
}
#cross-holder{
    height: 6vh;
    width: 97vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#cross-holder > div{
    height: 95%;
    width: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.lft{
    height: 5%;
    width: 0%;
    display: inline-block;
    margin: 2%;
    border-radius: 30px;
    position: absolute;
    left: 0%;
}
.mdl{
    height: 0%;
    width: 5%;
    display: inline-block;
    margin: 10%;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mdl-up{
    height: 50%;
    width: 100%;
    bottom:50%;
    position: absolute;
    display: inline-block;

}
.mdl-down{
    height: 50%;
    width: 100%;
    top: 50%;
    position: absolute;
    display: inline-block;
}

.rgt{
    height: 5%;
    width: 0%;
    display: inline-block;
    margin: 2%;
    border-radius: 30px;
    position: absolute;
    right: 0%;
}
